body{
    margin: 0px;
    padding: 0px;
}


.content-heaven{
    width: 100%;
    height: 100vh;
    background-color: #12233c;
    position: relative;
    overflow: hidden;
}

.star{
    background-color: #ffffff;
    border-radius: 10px;
    position: absolute;
}

.shines-star{
    box-shadow: 0px 0px 10px 4px #c4c4c4;
    animation: shines 3s infinite 3s;
}
@keyframes shines{

    0%{      
         opacity: 1;
 
    }

    50%{
        opacity: 0.5;
    }

    100%{
        opacity: 1;

    }

}


.fa-fly{
    color: #a40100;
    font-size: 50px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transform: rotate(10deg);
    animation: fly 5s 1 1s;
}


@keyframes fly {
    50%{
        bottom: 120vh;
        left: 120vw;
    }
}