*{
    margin: 0px;
    padding: 0px;
    font-family:'Montserrat', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html{
    scroll-behavior: smooth;
}

span,p{
    font-family: 'Cambria', cursive;
}
/**--------------- Home ------------------- **/

.star{
    background-color: #ffffff;
    border-radius: 10px;
    position: absolute;
    
}

.shines-star{
    box-shadow: 0px 0px 10px 4px #c4c4c4;
    animation: shines 3s infinite 3s;
}
@keyframes shines{

    0%{      
         opacity: 1;
 
    }

    50%{
        opacity: 0.5;
    }

    100%{
        opacity: 1;

    }

}
.menu{ 
    width: 40px;
    height: 100vh;
    position:fixed;
    background-color: #C4C4C4;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
}

.menu-alter{
    width: 40vw;
    height: 100%;
    overflow: hidden;
    flex-direction: column;
    position: fixed;
    left: -41vw;
    justify-content: space-between;
    background-color: #C4C4C4;
    display: flex;
    box-sizing: border-box;
    z-index: 4;
    box-shadow: 0px 5px 10px 0px #12233c;
    transition: all 1s ;
    border-radius: 0px 10px 10px 0px;
}

.menu-alter a{
    text-decoration: none;
    color: #a40100;
    box-sizing: border-box;
    font-weight: bold;
    display: flex;
    justify-content: start;
    column-gap: 20%;
    padding: 3em;
    border-radius: 1em;

}

.menu-alter a:hover{
    background-color: #FFF;
}
.icon-burger{
    position: absolute;
    color: #a40100;
    top:10px;
    left: 10px;
    z-index: 1;
    cursor: pointer;

}

.icon-burger i{
    font-size: 25px;
}

.icon-burger i:hover{
    color:#c4c4c4;
}
.menu-alter a:hover{
    background-color: #c4c4c4;
    color: #12233c;
}

.menu-alter a:hover i{
    color: #12233c;
}
.menu__icon{
    font-size: 1.3rem;
    color: #a40100;
    cursor: pointer;
}

.menu__icon:hover{
    color: #12233c;
}

.menu__icon--right{
    align-self:flex-end;
    padding: 20px;
}
.container{
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container__home{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-image: radial-gradient( circle 50vw at 80% 50%, #C4C4C4 90% , rgba(18,35,60,1) 30%);
}

.container-photo{
    width: 50%;
    text-align: center;
    position: relative;
}


.rectangle-photo img{
    width: 100%;
}

.object-background{
    position: absolute;
    top: 20vh;
    left: -10px;
    width: 35vw;
    height: 60vh;
    background-color:#a40100;
    border-radius: 100%;
    box-shadow: 1px 1px 51px -3px #C4C4C4;
    animation: planetShines 5s infinite;
}

@keyframes planetShines {
    0%{
        box-shadow: 1px 1px 51px -3px #C4C4C4;
    }
    50%{
        box-shadow: 1px 1px 25px -3px #C4C4C4;
    }

    0%{
        box-shadow: 1px 1px 51px -3px #C4C4C4;
    }
}
.container-photo{
    position: relative;
}

.rectangle-photo{
    position: absolute;
    width: 300px;
    top: 10vh;
    height: 350px;
    left: 25vw;
    background-color: #C4C4C4;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index:1;
}

.container-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    padding: 40px;
    text-align: center;
    width: 100vh;
    margin: 0px auto;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.download-cv{
    cursor: pointer;
    width: 155px;
    height: 40px;
    background-color: #a40100;
    color: #FFF;
    border-radius: 10px;
    outline: none;
    border: 1px solid #C4C4C4;
    box-shadow: 5px 5px 10px -2px #12233c;
    margin: 0px auto;
    text-decoration: none;
}

.download-cv:hover{
    background-color: #12233c;
}

.hi{
    font-weight: bold;
    font-size: 2rem;
}

.name{
    color: #a40100;
    font-size: 2.4rem;
    display: inline-block;
}

.size-font-default{
    font-size: 1.05rem;
    line-height: 2rem;
    font-weight: 300;
    text-align: center;
}

/** -----------------**/


/** --------------- ability -------------------*/

.ability{
    background-color: #a40100;
    text-align: center;
    padding: 3% 4% 3% 6%;
    z-index: 1;
}


.title-section{
    font-size: 2rem;
    display: inline-block;
    padding-bottom: 0.1em;
    border-bottom: 0.09em solid white;
    margin: 0px auto 4em auto;
}

.title-section-light{
    color: #FFF;
}

.container-ability{
    display: flex;
    flex-direction: row;
}

.img-ability{
    display: flex;
    align-items: center;
}
.img-ability img{
    width: 60%;
    margin: auto;
}
.description-ability{
    width: 60%;
    background-color: #C4C4C4;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 2px 3px 13px -3px #000;
}

.progress{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 1.3em;
    box-sizing: border-box;
    gap: 1em;
}

.name-ability{
   text-align: left;
   font-weight: bold;
}

.progress-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress-bar__parent{
    width:90%;
    height: 3vh;
    background-color: #FFF;
    border-radius: 5em;
    display: flex;
    padding-left: 5px;
    align-items: center;
}

.progress-bar__children{
    height: 2vh;
    background-color: #a40100;
    border-radius: 5em;
}

.children-html{
    width: 90%;
}

.children-css{
    width: 86%;
}

.children-boostrap{
    width: 86%;
}

.children-jquery{
    width: 80%;
}

.children-angular{
    width: 82%;
}

.children-javascript{
    width: 88%;
}
.icon-ability{
    width: 90%;
    height: 30%;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 5vw;
    margin: 2em auto;
    flex-wrap: wrap;
    justify-content: center;
}

.icon-ability i{
    font-size: 3rem;
    color: #C4C4C4;
    
}

.content-icon{
    display: flex;
    flex-direction: column;
    border-bottom: 0.05em solid #FFF;
}

.size-font-gray{
    color: #C4C4C4;
    font-weight:bolder;
}

.img-jquery{
    width: 50px;
    margin: auto;
}


/*** ------------------- Experience ------------------------***/


.experience{
    text-align: center;
    margin: 5em 0px;
    position: relative;
    padding-top: 50px;
}
.experience__content{
    display: grid;
    height: 85vh;
    grid-template-columns: 1.25fr 0.5fr 1.25fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 80px;
}

.base{
    margin: 0px auto;
    width: 0.4vw;
    background-color: #C4C4C4;
    border-radius: 5em;
    height: 100%;
    grid-column: 2 / 3;
    grid-row:  1 / 3;
    position: relative;
}

.description-experience{
    display: flex;
    flex-direction: column;    
    height: 100%;
    overflow: hidden;
    border:0.2em solid #a40100;
    border-radius: 1em;
    padding: 0.8em;
    box-sizing: border-box;
    justify-content: space-around;
    margin: auto;
    width: 60vh;
    gap: 20px;
}

.second-experience{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.second-star{
    top: 50%;
 
}

.fa-star{
    position: absolute;
    color: #a40100;
    background-color: #FFF;
    padding: 0.5rem;
    left: -24px;
}

.time{
    font-size: 1.3rem;
}
.icon-medium{
    font-size: 2rem;
    animation: cambiColor 3s ease 0s infinite;
}

@keyframes cambiColor {
    10%{
        color: #f33232;
    }
    25%{
        color:#eb4832;
        
    }

    30%{
        color: #f43f3f;
    }

    40%{
        color: #b40c0c;
    }

    60%{
        color: #d50d0d;
    }


    80%{
        color: #c94949;
    }

    90%{
        color: #e61111;
    }

    100%{
        color: #a82719;
    }
}

.leaks{
    border-radius: 100%;
    width: 20px;
    height: 5px;
    left: -30px;
    background-color: #FFF;
    top: -30px;
    box-shadow: -10px -1px 10px 6px #C4C4C4;
    z-index: 2;
    position: absolute;
    transform: rotate(20deg);

}

@keyframes leaksStar {

    20%{
        opacity: 0;
    }
    100%{
        top: 120vh;
        left: 220vw;
    }
}

.name-company{
    color: #a40100;
    font-size: 1.2rem;
    font-weight: 700;
    border: 1px solid #a40100;
    padding: 1.1em;
    text-decoration: none;
    cursor: pointer;
}
.name-company:hover{
    background-color: #a40100;
    color: #FFF;
}

.name-company a{
    text-decoration: none;
    color: #a40100;
}

.work-position{
    font-weight: 800;
    font-size: 1.3rem;
}

.rocket{
    font-size: 3rem;
    transform: rotate(-45deg);
    color: #a40100;
    position: absolute;
    top: -8vh;
    left: -20px;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    animation: despegar 1.5s ease 0s infinite;
}

@keyframes despegar{

    0%{      
         top: -8vh;
    }
    50%{
        top: -12vh;
        
    }

}

.content-return{
    width: 60px;
    height: 60px;
    background-color: #c4c4c4;
    position:fixed;
    top: 90vh;
    right: 1vw;
    border-radius: 1.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 3;

}

@keyframes fly {
    
    0%{
        top:30%;
    }

    50%{
        top: 20%;
    }

    100%{
        top:30%;
    }
}


.content-return:hover i{
    color: #12233c;
}
.content-return i{
    color: #a40100;
    font-size: 2.1rem;
    transform: rotate(-45deg);
    position: absolute;
    top: 30%;
    animation: fly 1s infinite;
}
    
/* -----------------------------------------------------------*/


/** ---------------- Proyects --------------------------------*/

.proyects{
    background-color: #a40100;
    border-radius: 30px;
    width: 85vw;
    margin: auto;
    text-align: center;
    padding: 3em;
}

.content-proyects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
}



.description-proyect:hover {
    -webkit-transform:scale(1.1);transform:scale(1.1);
}





.description-proyect{
    border:1px solid #FFF;
    width: 500px;
    
}
.description-proyect{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    color: #FFF;   
    padding: 0px 0px 1em 0px; 
}

.description-proyect__description{
    padding: 2em;
    line-height: 2em;
    letter-spacing: 0.03em;
    cursor:default;
}
.description-proyect__title{
    padding: 1.2em;
    background-color:#C4C4C4;
    color: #a40100;
    font-weight: bold;
    cursor:default;
}
.acces-proyect a{
    color: #FFF;
    font-size: 2rem;
}

.acces-proyect a:hover{
    color: #C4C4C4;
}

/** ---------------------------------------------------------**/


/** ------------------------ Contact ---------------------------**/

.contact{
    margin-top: 50px;
    text-align: center;
    height: 73vh;
    overflow: hidden;
    position: relative;
}
.container-contact{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100vh;

}

.contact__information{
    width: 70vh;
    height: 70vh;
    padding: 2em;
    border-radius: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle{
    position: absolute;
    border: 1.5px solid #12233c;
    border-radius: 100%;
}

.circle-second{
    width: 60vh;
    height: 60vh;
}
.circle-third{
    width: 50vh;
    height: 50vh;
}

.circle-fourth{
    width: 40vh;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: inacircle 15s infinite 0s;
}

.point{
    width: 15px;
    height: 15px;
    background-color: #a40100;
    border-radius: 100%;
    position: absolute;

}

@keyframes inacircle {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

.point-second{
    left: 30%;
    top: 0%;
}

.point-first{
    left: 30%;
    top: 95%;
}

.point-third{
    left: -5.5%;
    top: 21%;
}

.point-forty{
    left: 80%;
    top: 21%;
}

.point-sixth{
    left: 50%;
    top: -8px;
}

.contact-network{
    position: absolute;
    width: 200px;
    height: 50px;
    background-color: #a40100;
    color: #FFF;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-self: center;
    top: -80px;
    left: -100px;
    text-decoration: none;
    z-index: 1;
}

.contact-network:hover{
    background-color: #12233c;
}
.social{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.social-network{
    display: flex;
    justify-content:space-evenly;
    flex-direction: column;
    width: 100%;
    color: #C4C4C4;
    padding: 5px;
}

.social-network a{
    color: #000;
    text-decoration: none;
}

.social-network a:hover{
    color: #a40100;
}


.social, .personal{
    font-size: 1.1rem;
}
.social i{
    margin-right: 5%;
    font-size: 1.5rem;
}

.photo-circle{
    width: 20vh;
    height: 20vh;
    position: relative;
    bottom: -25vh;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    border: 3px solid #a40100;
    background-image: url('../../resource/img/foto.png');
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    background-size: cover;
}
/** -----------------------------------------------------------**/


/** ---------------------- Footer ------------------------------**/
footer{
    width: 100%;
    height: 5vh;
    background-color: #a40100;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    color: #C4C4C4;
}


/** --------------------------------------------------------------**/

/**--------------------------Media Queries ------------------------**/

@media screen and (max-width:1516px){
    
    .container__home{
        background-image: radial-gradient( circle 100vh at 51.2% 130%, #C4C4C4 90% , rgba(18,35,60,1) 30%);

    }

    .container__home{
        flex-direction: column;
    }

    .container-photo{
        width: 100%;
        box-sizing: border-box;
        height: 70%;
    }
    .object-background{
        position: inherit;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        height: 40%;
        top: 90px;
    }

    .rectangle-photo{
       align-items: center;
       position: static;
       border-radius: 100%;
       width: 20vw;
       height: 19vw;
       flex-direction: column;
       
    }

    .container-about{
        gap: 20px;
        width: 80%;
    }

    .description-ability{
        width: 80%;
    }
    
    .rectangle-photo img{
        width: 70%;
    }

    .description-experience{

        width: 80%;
    }
    
}

@media screen and (max-width:1226px){
    .img-ability{
        display: none;
    }

    .description-ability{
        width: 100%;
    }

    .experience__content{
        grid-template-columns: 1.4fr 0.2fr 1.4fr;
        grid-template-rows: 1fr 1fr;
    }

    .description-experience{
        width: 70%;
    }

}

    @media screen and (max-width:901px){ 

        .description-experience{
            height: 30vh;
        }

        .rectangle-photo{
            width: 25vw;
            height: 24vw;
         }

         .object-background{
            top: 80px;
        }

        .menu{
            display: none;
        }
        .icon-burger{
            display: block;
        }
        .ability{
            padding: 3% 4% 3% 3%;
        }
     
    }
    @media screen and (max-width:640px){ 

        .description-experience {
            width: 90%;
        }
    }

    @media screen and (max-width:500px){ 

        .h1, .name {
            font-size: 1.7rem;
        }

        
        .container-about{
            width: 100%;
            padding: 20px;
            gap: 7px;
        }

        .time{
            font-size: 1rem;
        }

        .work-position{
            font-size: 1.1rem;
        }

        .name-company{
            font-size: 1.1rem;
        }
       
    }
