body{
    margin: 0px;
    padding: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-direction: row;
    background-image:  linear-gradient(to right,white,#3778c6);


}

.section-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.section-text img{
    margin: auto;
    
    
}

.section-img{
    transform: skew(20deg);
    border: 1px solid #000;
    width: 50%;
    height: 100vh;
}
.section-img img{
    transform: rotate(25deg);
}
.text{
    color: #000;
}